@CHARSET "ISO-8859-1";

a {
	color: #00CCFF;
}

p {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.events {
	float: right;
	margin: 0;
	padding: 32px;
}

.date {
	float: left;
	width: 54px;
	margin-right: 16px;
	padding: 10px 4px;
	background: #ccc;
	text-align: center;
	color: #555;
}

.month {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}

.day {
	font-size: 15px;
	color: red;
	font-weight: bold;
}

.artistImage {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.artistInfoCol {
	vertical-align: top;
	text-align: left;
	width: 70%;
}